My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "registros",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "de2dabbd-cb19-458f-b7d2-859b79790124",
      "name": "Webhook",
      "webhookId": "3d523377-e696-4f3b-884e-dcf9b06e0c27"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ba3ff37-af85-4354-997e-8fd7e8d89990",
              "name": "nombre",
              "value": "={{ $json.body.nombreCompleto }}",
              "type": "string"
            },
            {
              "id": "4a8176a9-d3cc-46b1-9dcf-ca83f9c1aff7",
              "name": "email",
              "value": "={{ $json.body.correoElectronico }}",
              "type": "string"
            },
            {
              "id": "0acd7eaf-7fcd-4167-9623-6ec45f8139a8",
              "name": "telefono",
              "value": "={{ $json.body.telefono }}",
              "type": "string"
            },
            {
              "id": "8ceaf160-ac34-4fe6-b818-60cc1cfa8b47",
              "name": "empresa",
              "value": "={{ $json.body.empresa }}",
              "type": "string"
            },
            {
              "id": "a7452dbe-7306-4371-b060-95884f3cbf04",
              "name": "fecha_registro",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "ab8d29c2-6b63-4e5a-90e3-2b628a676a00",
      "name": "Normalizar datos"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-fMj-MpK5KS9G1OLOUZa_EcKJgI5DEB-7NstWjK-t4k",
          "mode": "list",
          "cachedResultName": "Registros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-fMj-MpK5KS9G1OLOUZa_EcKJgI5DEB-7NstWjK-t4k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-fMj-MpK5KS9G1OLOUZa_EcKJgI5DEB-7NstWjK-t4k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $json.nombre }}",
            "email": "={{ $json.email }}",
            "telefono": "={{ $json.telefono }}",
            "empresa": "={{ $json.empresa }}",
            "fecha_registro": "={{ $json.fecha_registro }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "empresa",
              "displayName": "empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_registro",
              "displayName": "fecha_registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        624,
        -96
      ],
      "id": "b8362f6c-31b2-4ec0-b27c-ee611b31d38d",
      "name": "Registrar usuarios validos",
      "credentials": {
        "googleApi": {
          "id": "DdbzGC0cqhgaLReD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b1cf733a-d8a2-446f-a72a-0b1d25ba4769",
              "leftValue": "={{ $json.email }}",
              "rightValue": "^[\\w.-]+@[\\w.-]+\\.[a-zA-Z]{2,}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "8157ffb4-6a4e-4340-8552-4c76a3181485",
      "name": "Validar email"
    },
    {
      "parameters": {
        "url": "=https://api.ipapi.com/api/{{ $('Webhook').item.json.body.ip }}?access_key=b67a27a4178aab77cc6496d2b19e0619",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        -288
      ],
      "id": "29ff50ca-cf15-468c-9570-9372bb6596a0",
      "name": "Enriquecer datos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c22301a9-42b1-4d21-90c2-c37cfc584d11",
              "name": "pais",
              "value": "={{ $json.country_name }}",
              "type": "string"
            },
            {
              "id": "0c173718-b6ed-4381-bb6e-34ecfe708f45",
              "name": "ciudad",
              "value": "={{ $json.city }}",
              "type": "string"
            },
            {
              "id": "c01470b8-f414-43ab-91fc-0530ed5d760c",
              "name": "region",
              "value": "={{ $json.region_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        -288
      ],
      "id": "af7d753f-84e7-42ff-8dea-bac904c74bab",
      "name": "Normalizar datos1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-fMj-MpK5KS9G1OLOUZa_EcKJgI5DEB-7NstWjK-t4k",
          "mode": "list",
          "cachedResultName": "Registros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-fMj-MpK5KS9G1OLOUZa_EcKJgI5DEB-7NstWjK-t4k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 758649969,
          "mode": "list",
          "cachedResultName": "errores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-fMj-MpK5KS9G1OLOUZa_EcKJgI5DEB-7NstWjK-t4k/edit#gid=758649969"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $json.nombre }}",
            "email": "={{ $json.email }}",
            "telefono": "={{ $json.telefono }}",
            "empresa": "={{ $json.empresa }}",
            "fecha_registro": "={{ $json.fecha_registro }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "empresa",
              "displayName": "empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_registro",
              "displayName": "fecha_registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        624,
        96
      ],
      "id": "b9093cb1-a050-4dc2-ac46-96436a390a99",
      "name": "Registrar errores",
      "credentials": {
        "googleApi": {
          "id": "DdbzGC0cqhgaLReD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        832,
        -96
      ],
      "id": "88222710-d60b-457a-ae01-c251e6275379",
      "name": "Esperar 5 segundos",
      "webhookId": "5d0d7f6b-b366-43cb-85be-c22a240cf5e3"
    },
    {
      "parameters": {
        "fromEmail": "cristian.jovany.vf@gmail.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Bienvenido",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      color: #333333;\n      background-color: #f9f9f9;\n      padding: 20px;\n    }\n    .container {\n      background-color: #ffffff;\n      padding: 20px;\n      border-radius: 6px;\n      box-shadow: 0 0 8px rgba(0,0,0,0.05);\n    }\n    h2 {\n      color: #4a90e2;\n    }\n    ul {\n      padding-left: 20px;\n    }\n    .footer {\n      font-size: 12px;\n      color: #777777;\n      margin-top: 30px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h2>Hola {{ $json.nombre }},</h2>\n    <p>Gracias por completar nuestro formulario. Aquí están los datos que recibimos:</p>\n    <ul>\n      <li><strong>Email:</strong> {{ $json.email }}</li>\n      <li><strong>Teléfono:</strong> {{ $json.telefono }}</li>\n      <li><strong>Empresa:</strong> {{ $json.empresa }}</li>\n    </ul>\n    <p class=\"footer\">Este mensaje fue enviado automáticamente. Por favor, no responda a este correo.</p>\n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1024,
        -96
      ],
      "id": "284e6462-caa3-4480-8a35-67ef7a2d17a5",
      "name": "Enviar notificación de bienvenida",
      "webhookId": "e333055f-e167-408a-bb18-9f301db439cd",
      "credentials": {
        "smtp": {
          "id": "HdAybXlWFfNJw4hV",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7568977822",
        "text": "=Se ha generado un nuevo usuario \nnombre: {{ $('Normalizar datos').item.json.nombre }}\ncorreo: {{ $('Normalizar datos').item.json.email }}\npais: {{ $json.pais }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        -288
      ],
      "id": "5860b509-86c9-452b-b65c-8bf0044b1286",
      "name": "Enviar mensaje",
      "webhookId": "8c152cb3-1f5b-466d-ba5c-b8e8bcb3671a",
      "credentials": {
        "telegramApi": {
          "id": "k2AugOXMsG3f5MbH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\":\"Información procesada correctamente\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1632,
        -96
      ],
      "id": "0ea308dc-8968-4e7c-9561-f76759a264ec",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"failed\",\n  \"message\":\"Ocurrio un error\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        96
      ],
      "id": "f0159ce2-a3ed-48e9-910e-396e28ce413d",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        16,
        432
      ],
      "id": "bc186498-7a15-42dd-ae0c-04acb4d830dc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1-fMj-MpK5KS9G1OLOUZa_EcKJgI5DEB-7NstWjK-t4k",
          "mode": "list",
          "cachedResultName": "Registros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-fMj-MpK5KS9G1OLOUZa_EcKJgI5DEB-7NstWjK-t4k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-fMj-MpK5KS9G1OLOUZa_EcKJgI5DEB-7NstWjK-t4k/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        224,
        432
      ],
      "id": "202ebb1c-82e0-4153-aa76-8e1a772c4399",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "DdbzGC0cqhgaLReD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const registros = $input.all().map((item) => item.json);\nconst hoy = new Date().toISOString().split(\"T\")[0];\n\nconst registrosHoy = registros.filter((registro) => {\n  const fechaRegistro = new Date(registro.fecha_registro).toISOString().split(\"T\")[0];\n  return fechaRegistro === hoy\n})\n\nreturn registrosHoy"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        432
      ],
      "id": "2883afd0-b7bf-460e-896a-7ff6a8c1467e",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d71e990b-4be8-49cf-bcea-d26732a3104e",
              "leftValue": "={{ $items.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        432
      ],
      "id": "e28ce60b-7941-4258-b272-519ffb86b815",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const contacts = $input.all().map((item) => item.json)\n\nlet htmlList = \"<ul>\";\ncontacts.forEach((contact) => {\n  htmlList += `<li><b>${contact.nombre}</br> - ${contact.email}</li>`;\n})\n\nhtmlList += \"</ul>\";\n\nreturn {htmlList};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        320
      ],
      "id": "2c73f529-6ee9-4b11-8f8c-ba3aae47e305",
      "name": "Code1"
    },
    {
      "parameters": {
        "fromEmail": "cristian.jovany.vf@gmail.com",
        "toEmail": "cristian.jovany.vf@gmail.com",
        "subject": "=Resumen diario de datos -  {{ $now.format('yyyy-MM-dd') }}",
        "html": "=<!DOCTYPE html>\n<html>\n  <body style=\"font-family: Arial, sans-serif; color: #333; line-height: 1.6;\">\n    <p>Hola equipo,</p>\n\n    <p>Les comparto a continuación la información actualizada:</p>\n\n    <!-- Aquí insertas la variable htmlList -->\n    {{ $json[\"htmlList\"] }}\n\n    <p style=\"font-size: 0.9em; color: #777; margin-top: 40px;\">\n      Este correo fue enviado automáticamente por n8n. Por favor, no responder directamente a este mensaje.\n    </p>\n  </body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1104,
        320
      ],
      "id": "4297d68b-5e4d-401b-beb2-75aa078f4fc5",
      "name": "Send email",
      "webhookId": "8049b284-40a3-4136-9575-f27e1984fcc6",
      "credentials": {
        "smtp": {
          "id": "HdAybXlWFfNJw4hV",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalizar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar datos": {
      "main": [
        [
          {
            "node": "Validar email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar email": {
      "main": [
        [
          {
            "node": "Registrar usuarios validos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar errores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar usuarios validos": {
      "main": [
        [
          {
            "node": "Esperar 5 segundos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enriquecer datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enriquecer datos": {
      "main": [
        [
          {
            "node": "Normalizar datos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar datos1": {
      "main": [
        [
          {
            "node": "Enviar mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 5 segundos": {
      "main": [
        [
          {
            "node": "Enviar notificación de bienvenida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar notificación de bienvenida": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensaje": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar errores": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "07108e53-baf0-4196-8e82-62223a9fa962",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c5b835405053ecc0f36615e8f0d973936d3859294c832d3840775ca615e7e72c"
  },
  "id": "37ZmNpSjhEPsjb5q",
  "tags": []
}